/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Fredericka+the+Great&family=Luckiest+Guy&display=swap');

.home-wrapper {
    display: flex; 
    flex-direction: column; 
    /* align-items: center; */
    /* justify-content:flex-end; */
    
  }
  
  .intro-section {
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    width: 780px;
    align-items: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .badge-text{
    border: 2px solid #ffffff; 
    border-radius: 25px;  
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom: 5px;
  }
  .intro-badge-container .intro-text {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 10px;
    
    margin-bottom: 20px;
    background-color: black;
    border-radius: 20px;
    border-color: #ffffff;
    border: 2px;
  }

  .home-heading {
    margin: 20px 0;
    font-size: 2.5rem;
  }
  
  .intro-text {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  
  .try-aima-action-button {
    margin: 20px;
    align-items:center;
    display: inline-block;
    background-color: rgb(246, 87, 13); 
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
.try-aima-action-button .try-aima-btn-text{
    font-family: "Afacad";
}
  
  .sparkles-icon {
    width: 24px; 
    height: auto;
    margin-right: 8px;
    color: #ffffff; 
  }

  .demo-vdo-class {
    width: 800px; /* Adjust width as needed */
    height: 460px; 
    border: 2px solid #ffffff; 
    border-radius: 25px;  
  }
  .vdo-container{
    display: flex;
    justify-content: center;
    align-items: center; /* Centers vertically */
    margin-top: 40px; 
    margin-bottom: 40px;
     
  }

  /* section 1 */
.section1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(17, 17, 17);   
}
  .sec1-deccription-block{
    font-size: x-large;
    font-family: "Afacad";
    max-width: 750px;
    margin-right: 40px;
    padding-left: 20px;
  }
  .section2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    
  }
  .sec2-deccription-block{
    font-size: x-large;
    font-family: "Afacad";
    max-width: 650px;
    margin-left: 50px;
    padding-left: 20px;
  }

  .section3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(17, 17, 17);   
    
  }
  .sec3-deccription-block{
    font-size: x-large;
    font-family: "Afacad";
    max-width: 750px;
    margin-right: 40px;
    padding-left: 20px;
  }
  .btn-refine{
    padding:  15px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color:rgb(246, 87, 13);
    border: 2px  solid rgb(246, 87, 13);
    border-radius: 50px;
    color: #ffffff;
    font-size: x-large;
    font-family: "Afacad";
    transition: background-color 0.3s ease; 
  }
  .btn-refine:hover{
    background-color: rgb(31, 25, 21);
    
  }
  .btn-turnaround{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color: rgb(246, 87, 13); 
    border: 2px  solid rgb(246, 87, 13);
    border-radius: 50px;
    color: #ffffff;
    font-size: x-large;
    font-family: "Afacad";
    transition: background-color 0.3s ease; 
  }
  .btn-turnaround:hover{
    background-color: rgb(31, 25, 21);
    
  }
  .btn-customize{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color: rgb(246, 87, 13);
    border: 2px  solid rgb(246, 87, 13);
    border-radius: 40px;
    color: #ffffff;
    font-size: x-large;
    font-family: "Afacad";
    transition: background-color 0.3s ease; 
  }
  .btn-customize:hover{
    background-color: rgb(31, 25, 21);
    
  }

  