
.file-container{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;  
    padding: 25px;
    border-radius: 50px;
    margin: 3% ;
    box-shadow: 0 0 15px 9px #eb710d;
    width: 25%;
    height: 100px;
    margin-left: 15.5%;
   
}
.custom-file{
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
   
 
}
.custom-file-label{
    display: inline-block;
    color: white;
    background-color: black;
    border: 2px solid  #eb710d;
    border-radius: 20px;
    cursor: pointer;

}
.custom-file-input {
    opacity: 0; 
    width: 0.1px;
    height: 0.1px; /* Minimize the input's size */
    position: absolute; /* Take it out of the flow */
    z-index: -1; /* Place it behind the label */
}
.custom-file-input:focus + .custom-file-label {
    border-color: #ff750b;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.file-container button{
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid  #eb710d;
   
}
.file-container button:hover{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}
.custom-file-input:lang(en):active + .custom-file-label::after {
    content: "Choose file";
}

.custom-file-input:lang(en):checked + .custom-file-label::after {
    content: "Change";
}