/* NavBar.css */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Fredericka+the+Great&family=Luckiest+Guy&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, backdrop-filter 0.3s; /* Smooth transition */
  background-color: #000000; /* Solid color when at the top */
}

/* Styles when scrolled */
.navbar.scrolled {
  background-color:rgba(15, 15, 15, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-brand {
  display: flex;
  align-items: center; 
  /* padding-bottom: 0; */
  gap: 20px; /* For adding space between logo and text */
}

.navbar-brand span {
  font-size: x-large;
  font-weight: bold;
  font-family: "Afacad";
}

.navbar img {
  border-style: none;
  max-height: 50px;
}
